{% extends 'base.html' %}

{% block content %}

<h1>{{title}}</h1>

<div class="row">
    {% for post in post_list %}
    <div class="col-sm-12">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{ title }} <small>{{ post.timestamp | timesince }} ago</small></h3>
                <p>{{ post.content | truncatechars:120 | linebreaks }}</p>
                <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
